#container
{
	width: 600px;
	height: 600px;
	border: 1px solid black;
	margin: 20px auto;
}
.cell
{
	height: 37.5px;
	width: 37.5px;
	outline: 1px solid black;
	float: left;
}
.hoveredOn
{
	background-color: red;
}
#buttonwrapper
{
	width: 70px;           /*necessary before making it in the center by using margin*/
	height: 30px;
	margin: 20px auto;
}